@CHARSET "ISO-8859-1";

#forkongithub {
	position: fixed;
	top: 0;
	left: 0;	
}

#forkongithub
a {
	background: rgb(255, 0, 0);
	color: #fff;
	text-decoration: none;
	font-family: arial, sans-serif;
	text-align: center;
	font-weight: bold;
	padding: 5px 40px;
	font-size: 1rem;
	line-height: 2rem;
	position: relative;
	transition: 0.5s;
}
 
#forkongithub
a:hover {
	background: rgb(221, 0, 33);
	color: #fff;
}
 
#forkongithub
a::before,#forkongithub
a::after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	height: 1px;
	background: #fff;
}
 
#forkongithub 
a::before {
	bottom: 1px;
	top: auto;
}