*
{
    margin:0;padding:0;
}
html,body
{
    height:100%;
    width:100%;
}

body {
	margin: 0;
	font-family: Verdana;
	font-size: 12px;
	line-height: 17px;
    display:table;
}

body > div, body > svg {
    width: 100%;
    display:table-row;
}

.invisible {
	display: none;
}

div#header {
	width: 100%;
	height: 30px;
    text-align: center;
	border-bottom: 1px solid gray;
}

div#mysql_version, h3#title {
	margin-top: 4px;
}

div#mysql_version {
	float: right;
	margin-right: 10px;
}

div#main {
    height:100%;
}

div#panel {
	width: 400px;
	position: fixed;
	top: 40px;
	right: 10px;
	bottom: 10px;
	overflow-y: auto;
	z-index: 2;
}

div#panel textarea#log {
	height: 100px;
	font-family: Courier;
}

.CodeMirror {
	border: 1px solid gray;
	padding: 2px;
}

.CodeMirror.error {
	border: 1px solid red;
}

div#panel textarea#log, #query_sample, #actions {
	width: 97%;
}

.CodeMirror {
	width: 96%;
}

div#panel textarea#log, .CodeMirror {
	margin: 0em;
	background-color: white;
}

pre#query {
	white-space: normal;
}

.samplequery {
	display: none;
}

#OK, #create_link {
	margin: 4px 8px;
}

#OK {
	float: left;
	padding: 2px;
}

#create_link {
	float: left;
	margin: 4px 8px;
	position: relative;
	width: 75%;
	padding: 1px 0px 0px 34px;
}

#create_link input, #create_link a {
	padding: 3px;
}

#create_link a {
	float: right;
}

#create_link input {
	width: 100%;
	border: 0;
	outline: 1px solid black;
}

#collision {
	color: red;
}

svg#graph {
	outline:1px solid gray;
	height: 100%;
	position: fixed;
}

marker#arrow polyline {
	stroke: black;
	fill: white;
}

marker.solidlink {
	fill: gray;
	opacity: 0.9;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

circle.filtered {
	stroke: red;
	stroke-width: 3px;
}

circle.sort {
	background:url("images/sort.svg") no-repeat;		
}

rect.table {
  fill: #fff;
  stroke: #333;
  stroke-width: 1.5px;
}

rect.alias {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

ellipse.function {
  fill: #fff;
  stroke: #333;
  stroke-width: 1.5px;	
}

ellipse.function.conditional {
	stroke: green;
}

text {
  font: 12px Courier;
  pointer-events: none;
}

text.outputname {
  font-size: 14px;
  font-weight: bold;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

#error_texts {
	display: none;
}